body {
    background-color: rgb(127, 143, 168);
}

div {
    margin: auto;
    width: 100%;
    min-width: 70px;
    text-align: center;
}

table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;

    border-radius: 10px;
    text-align: center;
    min-width: 442px;
}

#table caption {
    font-weight: bold;
    margin-top: 10px;
}

#table th {
    text-transform: inherit;
    background-color: #66748c;
    color: #FFFFFF;
    padding: 2px 20px 2px 20px;
    border-left: solid #66748c;
    border-right: solid #66748c;
    border-width: 2px;
    cursor: pointer;
}

#table td {
    padding: 5px 10px 5px 10px;
    border-color: #65738c;
    border-width: 1px;
    border-style: none solid dotted solid;
    vertical-align: top;
}
/* Alternating color for table rows */
#table tr:nth-child(odd) {
    background-color: #FFFFFF;
}

#table tr:nth-child(even) {
    background-color: #E6E6E6;
}

button {
    border-radius: 4px;
    cursor: pointer;
}

.removeBtn {
    background-color: rgba(102, 255, 237, 0.37);
    border-radius: 4px;
    filter: invert(100%);
    padding: 2px;
}

.removeBtn:hover {
    background-color: rgba(102, 255, 237, 0.95);
}


#addBtn {
    margin: 5px auto 5px 10px;
    width: 10%;
    padding: 1px 5px 1px 5px;
    text-align: center;
}

#clearStorageBtn {
    margin-top: 10px;
    alignment: center;
    max-lines: 2;
    width: 12%;
    min-width: 110px;
    height: 40px;

}

.inputLabel {
    width: 10%;
    margin: auto auto auto 10px;
    color: white;
}

input {
    cursor: pointer;
}

input[type=text] {
    border: 2px solid #3365cb;
    border-radius: 4px;
    background-color: #f8f8f8;
    cursor: text;
}

.inputLine {
    width: 20%;
    margin: auto auto auto 10px;
}

form {
    min-width: 442px;
    text-align: center;
    border-radius: 4px 4px 0 0;
    background-color: #67758c;
    border-left: solid #66748c;
    border-right: solid #66748c;
    margin-bottom: -1px;
}

/* 'YOUR TABLE IS EMPTY' table row */
#hint {

    min-width: 442px;
    background-color: #e4e4e5;
    margin: auto auto -1px;
    border-width: 2px;
    border-right: #cccccc dotted;
    border-left: #cccccc dotted;
    color: #828283;

}

#linkToInfo {
    color: #282828;
    opacity: 50%;
    margin: auto;
    width: fit-content;
    text-decoration-color: rgba(255, 255, 255, 0);
}


/* Starts info link 'blinker' animation on hover */
#linkToInfo:hover {
    opacity: 100%;
    animation: blinker 0.35s linear infinite;
}

@keyframes blinker {
    0%{
        font-size: initial ;
        cursor: n-resize;
    }
    15% {
        color: red;
        cursor: ne-resize;
    }
    30% {
        color: orange;
        cursor: e-resize;
    }
    45% {
        color: lawngreen;
        font-size: larger;
        cursor: se-resize;
    }
    55% {
        color: blue;
        cursor: s-resize;
    }
    70% {
        cursor: sw-resize;
    }
    85% {
        color: blueviolet;
        cursor: w-resize;
    }
    100% {
        cursor: nw-resize;
    }

}